# Dependencies
node_modules/
/node_modules
frontend-react/node_modules/
frontend-react/dist/

# Build outputs
target/
*.class
*.jar
*.war

# Environment & IDE
.env
.idea/
*.iml
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
